# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Composer
/vendor/
/composer.lock

# Builds / archives
*.zip
*.tar.gz

# Logs
*.log

# Node (אם תוסיף בעתיד)
node_modules/
dist/
build/

# WordPress uploads (אם תעבוד בתוך wp-content)
../uploads/
