.ys-quote-form-wrap {
  	margin: 2rem auto;
}
.ys-quote-form-wrap .from-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px;
}
.ys-quote-form-wrap .from-column {
	width: calc(33.33% - 20px);
	margin-top: 18px;
	margin-right: 10px;
	margin-left: 10px;
}
.ys-quote-form-wrap .from-column p {
	margin-bottom: 0;
}
.ys-quote-form-wrap input:not([type="checkbox"]),
.ys-quote-form-wrap select,
.ys-quote-form-wrap textarea {
	width: 100%;
	padding: 10px;
	border: 0;
	border-bottom: 1px solid #ddd;
	border-radius: 0px;
	background: transparent; 
}

.ys-quote-form-wrap button {
	padding: 12px 28px;
	border: none;
	border-radius: 6px;
	border: 0;
	background: #2c3e50;
	color: #fff;
	cursor: pointer;
}

.ys-quote-form-wrap button:hover {
  	background: #1dd2af;
}
.ys-quote-form-wrap .signature-wrap {
	margin-top: 18px;
}
.ys-quote-form-wrap .error-message {
	display: none;
	padding: 0.15rem 1rem;
	font-size: 0.85rem;
	line-height: 1.15;
	color: red;
}
.ys-quote-form-wrap .form-validation-ok {
	display:none;
	margin:10px 0;
	padding:8px 12px;
	background:#e9f9ef;
	border:1px solid #bfe8cc;
	border-radius:8px;
	color:#0b6b3a;
}
.ys-quote-form-wrap .ys-btn-submit {
	margin-top: 20px;
}

.ys-quote-form-wrap .loader-circle-wrap {
	display:none;	
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.5);
    z-index: 9999;	
}
.ys-quote-form-wrap .loader-circle-wrap .loader {
	position: absolute;
	height: 60px;
	width: 60px;
	border: 3px solid transparent;
	border-top-color: #1dd2af;
	top: 50%;
	left: 50%;
	margin: -30px;
	border-radius: 50%;
	animation: spin 2s linear infinite;
}
.ys-quote-form-wrap .loader-circle-wrap .loader:before, 
.ys-quote-form-wrap .loader-circle-wrap .loader:after {
	content: '';
	position: absolute;
	border: 3px solid transparent;
	border-radius: 50%;
}
.ys-quote-form-wrap .loader-circle-wrap .loader:before {
	border-top-color: #2c3e50;
	top: -12px;
	left: -12px;
	right: -12px;
	bottom: -12px;
	animation: spin 1.5s linear infinite;
}
.ys-quote-form-wrap .loader-circle-wrap .loader:after {
	border-top-color: #FFFBFE;
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


.signature-wrap {
	position: relative;
}
.sig-pad {
  border: 1px solid #ddd; 
  border-radius: 6px; 
  width: 280px; 
}
#ysqp-signature {
  display: block;
  touch-action: none;
  user-select: none;
}

.sig-actions {
	position: absolute;
	z-index: 1;
	top: 98px;
	right: 2px;
}

button#ysqp-sig-clear {
    width: 25px;
    height: 25px;
    padding: 2px;
    border: 0;
    border-radius: 6px;
    background: #fff;
    color: #fff;
    cursor: pointer;
}
button#ysqp-sig-clear:hover{ background: #1dd2af; }
button#ysqp-sig-clear:focus-visible { outline:2px solid #2684ff; outline-offset:2px; }
button#ysqp-sig-clear svg {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
	.ys-quote-form-wrap .from-column {
		width: calc(50% - 20px);
	}
}
@media (max-width: 480px) {
	.ys-quote-form-wrap .from-column {
		width: 100%;
	}
}